{
  "presets": [[
    "@babel/env",
    {
      "corejs": 3,
      "useBuiltIns": "usage",
      "debug": true,
      "modules": false,
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-typescript",
    "@babel/react"]
}