DB_ROOT_PASSWORD=secret

APP_NAME=CWMTS
APP_ENV=development
APP_KEY=base64:tr7aMRPZNsil/4Vefr1cpDMB+Px+pWJO1oDAAj5rbQg=
APP_DEBUG=true
APP_URL=http://web.cwmts.local

LOG_CHANNEL_SECRET=stack
DB_CONNECTION=mysql

DB_HOST=db
DB_PORT=3306
DB_DATABASE=cwmts
DB_USERNAME=cwmts
DB_PASSWORD=cwmts

BROADCAST_DRIVER=log

CACHE_DRIVER=redis
QUEUE_CONNECTION=sync

SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=cwmts_redis
REDIS_PASSWORD=null
REDIS_PORT=6379

WEBSSO_CLIENT_ID=test@b2b.mts.ru
WEBSSO_CLIENT_SECRET=test
WEBSSO_SCOPE=openid

BACKEND_APP_IMAGE=cwmts-docker.artifactory.prostream.ru/images/backend/app/master:latest
BACKEND_WEBSERVER_IMAGE=cwmts-docker.artifactory.prostream.ru/images/backend/master:latest

