.img-wrapper {
    position:relative;
}

.img11 {
    width: 1920px;
    height: 1080px;
}

.img12 {
    width: 3840px;
    height: 1080px;
}

.img13 {
    width: 1920px;
    height: 1080px;
}
.img21 {
    width: 1920px;
    height: 2160px;
}
.img22 {
    width: 3840px;
    height: 2160px;
}
.img23 {
    width: 1920px;
    height: 2160px;
}
.img31 {
    width: 1920px;
    height: 2160px;
}
.img32 {
    width: 3840px;
    height: 2160px;
}
.img33 {
    width: 1920px;
    height: 2160px;
}